@model Evaluaciones.Models.UsuarioRolesModels

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<link href="~/Content/modern-business.css" rel="stylesheet" />



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()



    <div class="d-flex flex-column">
        <div class="container-fluid">
            <div class="card shadow mb-4">

                <div class=" card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Cambiar el rol <i> "@Html.DisplayFor(model => model.name)"</i> del usuario <i> "@Html.DisplayFor(model => model.UserName)"</i></h6>

                </div>

                <div class="card-body">

                    @Html.EditorFor(model => model.id_Rol, new { htmlAttributes = new { style = "display:none" } })
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.id_Usuario)






                    <h5 class="text-justify">Roles Disponibles</h5>

                    @Html.DropDownListFor(model => model.name, (IEnumerable<SelectListItem>)ViewBag.RolesLista, new  { @class = "form-control"  })
                    @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })



                    @Html.EditorFor(model => model.id_Usuario, new { htmlAttributes = new { style = "display:none" } })
                    @Html.ValidationMessageFor(model => model.id_Usuario, "", new { @class = "text-danger" })
                </div>



                <input type="button" class="btn btn-outline-primary " style="float:left" value="Volver" onclick="location.href='@Url.Action("Index", "UsuarioRoles",new {id=Model.id_Usuario })'" />
                <br />
                <input type="submit" value="Guardar" class="btn btn-outline-info" />
            </div>
        </div>
    </div>
}