@model Entities.TipoPersonaPersona

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}




<link href="~/Content/modern-business.css" rel="stylesheet" />

<div>
    <h3>¿Esta seguro de eliminar el Tipo de persona <i>"@Html.DisplayFor(model => model.tipoPersona.tipoPersona)" del usuario @Model.persona.usuarios.Nombre @Model.persona.usuarios.Apellido</i>?</h3>
    <hr />


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.persona.Id)
        @Html.HiddenFor(model => model.tipoPersona.Id)
        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" style="margin-left:1%" class="btn btn-outline-info" />
            <br />
            <input type="button" class="btn btn-outline-primary " style="float:left;margin-left:1%;margin-top:3%" value="Volver" onclick="location.href='@Url.Action("Index", "TipoPersonaPersona",new { id=Model.persona.Id})'" />
        </div>
    }
</div>






