@model Entities.Roles

@{
    ViewBag.Title = "Agregar";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<link href="~/Content/modern-business.css" rel="stylesheet" />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="d-flex flex-column" style="max-width:60%">
        <div class="container-fluid">
            <div class="card shadow mb-4">
                <div class=" card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Agregar un Rol o Permiso al Rol <i> @Model.name </i> </h6>



                </div>
                <div class="card-body">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.id)
                    <h5>
                        Nombre del permiso
                    </h5>

                    @Html.DropDownListFor(model => model.name, (IEnumerable<SelectListItem>)ViewBag.ListaSedes, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })

                </div>

                <input type="button" class="btn btn-outline-primary " style="margin-left:30%;max-width:40%" value="Volver" onclick="location.href='@Url.Action("Index", "Roles")'" />

                <br />

                <input type="submit" style="margin-left:30%;max-width:40%" value="Agregar" class="btn btn-outline-info" />

            </div>
        </div>

    </div>
}

